<article class="cf">
    <div class="fl w-100 w-70-l bg-near-white tc">
        <article class="pa3 pa5-ns" data-name="slab-stat">
        <h1>Kaiser in code</h1>
        <dl class="dib mr5">
        <dd class="f6 f5-ns b ml0">Total Commits</dd>
        <dd class="f3 f2-ns b ml0"><%= @info[:commits].count %></dd>
        </dl>
        <dl class="dib mr5">
        <dd class="f6 f5-ns b ml0">Stars</dd>
        <dd class="f3 f2-ns b ml0"><%= @info[:star_count] %></dd>
        </dl>
        <dl class="dib mr5">
        <dd class="f6 f5-ns b ml0">Most Recent Activity</dd>
        <dd class="f3 f2-ns b ml0"><%= @info[:latest_commit] %></dd>
        </dl>
        <dl class="dib mr5">
        <dd class="f6 f5-ns b ml0">Repo Count</dd>
        <dd class="f3 f2-ns b ml0"><%= @info[:repo_count] %></dd>
        </dl>
        <dl class="dib">
        <dd class="f6 f5-ns b ml0">Favorite Languages</dd>
        <dd class="f3 f2-ns b ml0"><%= @info[:primary_languages_used] %></dd>
        </dl>
        </article>
    </div>
    <div class="fl w-100 w-30-l bg-near-white tc">
        <h1 class="fw6 f3 lh-copy mt3">
            Recent Commits
        </h1>
        <div class="pa3">
        <div class="overflow-auto">
        <table class="f6 w-100 mw8 center" cellspacing="0">
            <thead>
            <tr class="stripe-dark">
                <th class="fw6 tl pa3 bg-white">Repo</th>
                <th class="fw6 tl pa3 bg-white">Message</th>
                <th class="fw6 tl pa3 bg-white">Date</th>
                <th class="fw6 tl pa3 bg-white">Sha</th>
            </tr>
            </thead>
            <tbody class="lh-copy">
                <% @info[:commits].limit(20).each do |commit| %>
                    <tr class="stripe-dark">
                        <td class="pa3"><%= @info[:repos].where(id: commit[:repo_id]).first[:name] %></td>
                        <td class="pa3"><%= commit[:message] %></td>
                        <td class="pa1"><%= Date::ABBR_MONTHNAMES[commit[:created_at].month]+"-"+commit[:created_at].day.to_s %></td>
                        <td class="pa3">
                            <a href=<%="https://github.com/kpister/#{@info[:repos].where(id: commit[:repo_id]).first[:name]}/commit/#{commit[:sha]}"%> target="_blank"><%= commit[:sha][0,7] %></a> 
                        </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</article>

